{% extends 'base.html' %}
{% block title %} Students List {% endblock title %}

{% block main %}
<main class="main">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-12">
                <h1>Students List</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="admission_table_body">
                        <!-- AJAX data will go here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock main %}

{% block extra_scripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {

});

</script>
{% endblock extra_scripts %}
