{% extends 'base.html' %}
{% block title %}OTP Verify{% endblock title %}

{% block content %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active">OTP Verify</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- OTP Verify Start -->
    <div class="otp-verify">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="otp-verify-form">
                        <div class="row">
                            <div class="col-md-12">
                                <label>OTP</label>
                                <input class="form-control" type="text" placeholder="OTP">
                            </div>
                            <div class="col-md-12">
                                <button class="btn form-control">Verify OTP</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OTP Verify End -->
        
{% endblock content %}